.add-todo {
    background: rgb(138, 131, 134);
    border: none;    
}

.add-todo:hover {
    background: rgb(177, 173, 175);
}

.modal {
    top: 20%;
}

.modal-content {
    background-color: rgba(199, 194, 194, 0.8);
}

.accordion-button {
    background-color: rgb(228, 224, 222);
    border: 1px solid black;
}

.accordion-body {
    background-color: rgb(243, 239, 236);
}

@media screen and (max-width: 576px){
    .h5 {
        font-size: 16px !important;
    }
}